<AuthorizeView>
    <Authorized>
        <MudNavMenu>
            <MudNavLink Href="Identity/Account/Manage">Hello, @context.User.Identity.Name!</MudNavLink>
        </MudNavMenu>
        <form method="post" action="Identity/Account/LogOut">
            <MudButton ButtonType="ButtonType.Submit" Class="nav-link btn btn-link">Log out</MudButton>
        </form>
    </Authorized>
    <NotAuthorized>
        <MudNavMenu Direction="Direction.Right">
            <MudNavLink Href="Identity/Account/Register">Register</MudNavLink>
            <MudNavLink Href="Identity/Account/Login">Log in</MudNavLink>
        </MudNavMenu>
    </NotAuthorized>
</AuthorizeView>
