@page "/products/create"
@using Microsoft.EntityFrameworkCore
@using Data.Models

@inject NavigationManager uriHelper
@inject IDbContextFactory<Data.ApplicationDbContext> dbFactory

@inject IJSRuntime js

<h3>Create</h3>

<Form ButtonText="Create product" product="@product"
            OnValidSubmit="@CreateProduct" />

@code {
    Product product = new Product();
    async Task CreateProduct()
    {
        using var db = dbFactory.CreateDbContext();
        db.Add(product);
        await js.InvokeVoidAsync("console.log", "product created", product);
        //await http.PostAsJsonAsync("api/developer", product);
        db.SaveChanges();
        uriHelper.NavigateTo("products");
    }
}