@page "/products/edit/{productId:int}"
@using Microsoft.EntityFrameworkCore
@using Data.Models

@inject NavigationManager uriHelper
@inject Data.ApplicationDbContext db
@inject IJSRuntime js

<h3>Edit</h3>

<Form ButtonText="Update" product="product"
      OnValidSubmit="@EditProduct" />

@code {
    [Parameter] public int productId { get; set; }
    Product product = new Product();

    protected async override Task OnParametersSetAsync()
    {
        product = await db.Products.FirstOrDefaultAsync(p => p.Id == productId);
    }

    async Task EditProduct()
    {
        db.Entry(product).State = EntityState.Modified;
        await db.SaveChangesAsync();
        await js.InvokeVoidAsync("alert", $"Updated Successfully!");
        uriHelper.NavigateTo("products");
    }
}